.main__title {
  position: relative;
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 4%;
  padding: 0 120px;
  margin-bottom: 40px;
}

.main__title::before {
  content: '';
  width: 100px;
  height: 8px;
  background: #000;
  position: absolute;
  left: 0;
  top: 17px;
}

.companies {
  padding: 10px 15px;
  border-bottom: 2px solid #e6e6e6;
  border-top: 2px solid #e6e6e6;
}

.companies__list {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 270px;
  height: 180px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  background-color: #e6e6e6;
}

.card-back {
  background-color: #000;
  transform: rotateY(180deg);
}
